<div class="form-group">
  <label class="col-sm-4 control-label">Name</label>
  <div class="col-sm-8">
  <%= f.input :name, input_html: { class: 'form-control' }, label: false , required: true%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">diet</label>
  <div class="col-sm-8">
  <%= f.input :diet, input_html: { class: 'form-control' }, label: false , required: false%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">status</label>
  <div class="col-sm-8">
  <%= f.input :status, input_html: { class: 'form-control' }, label: false , required: false%>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, class: "btn btn-success btn-sm" %>
  <%= link_to 'Back', animals_path, class: "btn btn-primary btn-sm" %>
</div>
