<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Edit animal</h1>
    <%= simple_form_for([@animal], wrapper: false, label: false, :method => :PATCH ) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
