<div class="row">
  <h1>All animals</h1>
</div>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-danger pull-left" %>
<%= link_to 'Create animal', new_animal_path ,class: "btn btn-success pull-left" %>
<%= link_to 'Get All animals', acquire_animals_animals_path ,class: "btn btn-info pull-left", method: :post %>



<table class="table table-title" id="animals_datatable" data-source="<%= animals_path(format: "json") %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Diet</th>
        <th>Status</th>
        <th>Created at</th>
        <th style="width: 300px;"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
