<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>New animal</h1>
    <%= simple_form_for([@animal], wrapper: false, label: false) do |f| %>
      <%= render 'form' , f: f %>
    <% end %>
  </div>
</div>
