<div class="form-group">
  <label class="col-sm-4 control-label">Name</label>
  <div class="col-sm-8">
  <%= @animal.name%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">diet</label>
  <div class="col-sm-8">
  <%= @animal.diet%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">status</label>
  <div class="col-sm-8">
  <%= @animal.status %>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">created_at date</label>
  <%= !@animal.created_at.nil? ? @animal.created_at.strftime("%d-%m-%y") : 'Doesnt have' %>
</div>

<%= render partial: "comments/comments", locals: {commentable: @animal} %>
<%= render partial: "comments/form", locals: {commentable: @animal} %>
<%= link_to 'Back', animals_path, class: "btn btn-primary btn-sm" %>
