<div class="form-group">
  <label class="col-sm-4 control-label">Name</label>
  <div class="col-sm-8">
  <%= @character.name%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">gender</label>
  <div class="col-sm-8">
  <%= @character.gender%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">slug</label>
  <div class="col-sm-8">
  <%= @character.slug %>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">rank</label>
  <div class="col-sm-8">
  <%= @character.rank %>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">house</label>
  <div class="col-sm-8">
  <%= @character.house %>
  </div>
</div>
<%  if @character.image_url != nil %>
  <%= image_tag @character.image_url %>
<% end %>

<div class="form-group">
  <label class="col-sm-4 control-label">created_at date</label>
  <%= !@character.created_at.nil? ? @character.created_at.strftime("%d-%m-%y") : 'Doesnt have' %>
</div>

<%= render partial: "comments/comments", locals: {commentable: @character} %>
<%= render partial: "comments/form", locals: {commentable: @character} %>
  <%= link_to 'Back', characters_path, class: "btn btn-primary btn-sm" %>
